<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="frinsa.hpp">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:requestLegacyExternalStorage="true"
        android:allowBackup="true"
        android:icon="@mipmap/icon_frinsa"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".TambahProses"></activity>
        <activity android:name=".lanjut_produksi.SubProses" />
        <activity android:name=".mulai_produksi.ReviewHasilBeli" />
        <activity android:name=".mulai_produksi.InputBeli" />
        <activity android:name=".tahapan_proses.TahapanProses" />
        <activity android:name=".mulai_produksi.ReviewHasilPanen" />
        <activity android:name=".mulai_produksi.InputPanen" /> <!-- <activity -->
        <activity android:name=".daftar_produksi.MainDaftarProduksi" />
        <activity android:name=".report.ReportView" />
        <activity android:name=".report.DetailBiaya" />
        <activity
            android:name=".Dashboard"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".SplashScreen"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>